<table class="recipe-list">
 <tr>
      <td align="center">Food</td>
      <td align="center">Quantity</td>
      <td align="center">Value</td>
      <td align="center">Actions</td>
    </tr> 

    <% @recipe.recipe_foods.each do |item| %>
    <tr>
      <td align="center"><p><%= item.food.name %></p></td>
      <td align="center"><p><%= item.quantity %> <%= item.food.measurement_unit %></p></td>
      <td align="center"><p><%= item.quantity * item.food.price %></p></td>
      <td id="td-btns" align="center">
        <button>MODIFY</button>
        <%= button_to 'Remove', "/recipes/:recipe_id/recipe_food/#{item.id}", method: :delete %>
      </td>
    <tr>
    <% end %>  
</table>
