<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li>Sign in</li>
        <li>Food List</li>
        <li>My recipes</li>
        <li>My inventory</li>
      <ul>
    </nav>
    <% if current_user%>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, data:{turbo:false} %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
    
    <footer>
        <p>Cuisine App, 2022. All rights reserved.</p>
    </footer>
  </body>
</html>
