<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
        <% if !current_user%>
          <%= button_to "Sign in", new_user_session_path, method: :get, data:{turbo:false} %>
        <% end %>
        </li>
        <li><%= link_to "Food list", foods_path, method: :get, data:{turbo:false} %></li>
        <li><%= link_to "Public Recipes", public_recipes_path, method: :get, data:{turbo:false} %></li>
        <li><%= link_to "My recipes", recipes_path, method: :get, data:{turbo:false} %></li>
        <li><%= link_to "My inventories", inventories_path, method: :get, data:{turbo:false} %></li>
        <li>
          <% if current_user%>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, data:{turbo:false} %>
          <% end %>
        </li>
      <ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
